<html ng-app="mainApp">

<head>
    <title> Menu </title>
</head>

<body ng-controller="mainCtrl">
    <div>
        <input id="search-input" type="search" ng-model="keyword" ng-keyup="inputKeyup($event)" />
        <div id="result-box" tabindex="0" ng-keyup="searchResultKeypress($event)">
            <div ng-repeat="item in searchResult">{{item}} {{$index === selectedIndex ? "selected" : "no"}}
            </div>
        </div>
    </div>

</body>
<script src="bower_components/angularjs/angular.min.js"></script>
<script src="js/main.js"></script>

</html>
